ul {
    list-style: None;
}

body > nav > ul{
    display: flex;
    padding: 0px;
    flex-grow: 1;
}

nav > ul > a:hover{
    background-color: blanchedalmond;
    /* flex-grow: 1; c'est rigolo */
}

nav > ul > a{
    display: flex;
    flex-grow:1;
    border: 0.2rem solid black;
    justify-content: center;
}