body{
    display: flex;
    flex-wrap: wrap;
}
header{
    display: flex;
    background-image:url(../img/Bloque.jpg);
    background-position:50% 50%;
    background-size:cover;
    background-repeat: no-repeat;
    

    border-width: thick;

    height: 25vh;
    width: 100vw;
}

h1{
    text-align: center;
}
nav{
    display: flex;
    width: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
}

article {
    display: flex;
    flex-basis: 100%;
}

article > section{
    flex-direction: column;
}

article img{
    margin: 0.5rem;
    width: 10em;
    height: 10em;
}









aside{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25vw;
    border: 0.2rem solid grey;
    flex-grow: 1;
}

aside > section{
    width: 100%;
}
aside > section > section{
    display: flex;
    border: 0.2rem solid black;
    align-items: center;
    margin: 1em;
}
aside > section > section > img {
    width: 2em;
    height: 100%;
    margin: 1em;
}
aside > section > section > p {
    flex-grow: 1;
}




footer{
    width: 100vw;
    margin: 1em;
}