body{
    margin:5em;
  }
  
  header ul{
    border-bottom: thin solid black;
  }
  
  ul{  
    padding: 0;
    list-style-type: none;
  }
  
  li{
    margin-right: 2em;
    margin-top: 1em;
  
  }
  
  main{
    align-items: stretch;
    padding-top: 2em;
    border-bottom: thick solid black;
  }
  
  article{
    margin-right: 20%;
  }
  
  a{
    font-weight: bold;
    text-decoration: none;
  }
  
  h1 > span{
    font-style: oblique;
    color: gray;
  }
  
  h1{
    font-size: 5rem;
    font-weight:bold;
    border-bottom: thick solid black;
  }
  
  footer{
    padding-top: 1em;
  }
  
  footer > p{
    margin:0;
  }
  
  footer img{
    width: 5px;
    height: 5px;
  }

  footer > p >img {
    min-width: 15px;
    min-height: 15px;
  }
  body {
    background-color: rgba(238, 211, 58, 0.63);
  }