main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 30px;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

h1 ,p{
    color: orangered;
}

ul {
    list-style-type: none;
}


img, nav{
    box-shadow: 3px 3px red, -1em 0 .4em olive;
}


